bin/
*.a

*.swp
merge.sh

world/
voxelands.conf
locale/
*debug.txt

*CMakeFiles/
*Makefile
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
*cmake_install.cmake

src/jthread/jthreadconfig.h
cmake_config.h

