build
build32
build64

bin/
*.a
*.o

*.swp
merge.sh

world/
voxelands.conf
locale/
*debug.txt
*.core

*CMakeFiles/
*Makefile
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
*cmake_install.cmake

src/jthread/jthreadconfig.h
cmake_config.h

data/textureshd
