[Desktop Entry]
Name=Minetest Classic
GenericName=Minetest Classic
Comment=3D Voxel World Game
Exec=minetest-classic
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
