[Desktop Entry]
Name=Voxelands
GenericName=Voxelands
Comment=3D Voxel World Game
Icon=voxelands
Exec=voxelands
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
